.profile-page {
  padding: 40px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  min-height: 100vh;

  .profile {
    max-width: 500px;
    margin: auto;
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    .header {
      font-size: 25px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 30px;
      color: #333;
    }

    .content-profile {
        display: flex;
        flex-direction: column;
        gap: 20px;

       .avatar{
        margin-left: 29px;
       } 
      .input {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        span {
          font-size: 14px;
          color: #000;
          font-weight: 500;
        }

        input {
          border: none;
          border-bottom: 1px solid #ccc;
          padding: 8px 0;
          font-size: 16px;
          background-color: transparent;
          outline: none;
          width: 280px;
          transition: border-color 0.3s;
          padding-left: 10px;
          margin-left: 10px;

          

          &:hover {
            border-bottom: 1px solid #1890ff;
          }
        }

        button {
          align-self: flex-start;
          margin-top: 10px;
          padding: 8px 20px;
          font-size: 14px;
          background: #fff;
          color: #1890ff;
          border: 1px solid #1890ff;
          border-radius: 6px;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: #1890ff;
            color: #fff;
          }
        }
      }
    }
  }
}
