.myorder-card{
    background: #fff;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 30px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);

}

.cart-item {
      background: #bae2e7;
      padding: 10px;
      border-radius: 6px;

      .ant-col {
        border: none !important;
        box-shadow: none !important;
      }

      .product-image {
        width: 60px;
        height: 60px;
        object-fit: cover;
        margin: 0 12px;
        border-radius: 6px;
      }
}

.myoder-bottom {
  display: flex;
  justify-content: flex-end; // Dồn hết sang phải
  margin-top: 16px;

  .button_bottom {
    text-align: right; // Căn phải chữ
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;

    .total-price {
      font-size: 16px;
      font-weight: 600;
      color: #dc3545;
      margin: 0;
    }

    .action-buttons {
      display: flex;
      gap: 10px;

      .ant-btn {
        font-size: 14px;
        padding: 4px 12px;
        border-radius: 6px;
      }
    }
  }
}
