.cart-container {
  display: flex;
  gap: 20px;
  background: #f5f5fa;
  min-height: 100vh;

  .cart-product {
    flex: 7;
    border-radius: 8px;
    

    .cart-header,
    .cart-item {
      background: #fff;
      padding: 10px;
      border-radius: 6px;

      .ant-col {
        border: none !important;
        box-shadow: none !important;
      }

      .product-image {
        width: 60px;
        height: 60px;
        object-fit: cover;
        margin: 0 12px;
        border-radius: 6px;
      }

      .quantity-controls {
        display: flex;
        align-items: center;
        border: solid 1px #ccc;
        border-radius: 5px;
        overflow: hidden !important;
        .custom-input-number {
          width: 70px !important; // hoặc bao nhiêu bạn muốn
          text-align: center;         

  input {
    width: 100% !important;
    text-align: center;
    padding: 5px 5px;
  }
}


      }
    }
  }

  .cart-summary {
    flex: 3;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    height: fit-content;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 20px; 
    align-self: flex-start;

    .summary-row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 12px;
      font-size: 15px;
    }

    .total {
      font-weight: bold;
      font-size: 17px;

      .summary-total {
        color: red;
        font-size: 20px;
      }
    }

    .vat-text {
      font-size: 12px;
      color: #888;
      margin: 10px 0;
    }

    button {
      background-color: #ff4d4f;
      height: 44px;
      font-size: 16px;
      font-weight: 500;

      &:hover {
        background-color: #ff7875;
      }
    }
  }
}
.cart-item{
    margin-bottom: 10px;
}


