.wraper_lable_text{
    color: rgb(56, 56, 61);
    font-size: 20px;
    font-weight: 500;
    margin: 15px 0;
}
.wraper_text_value{
    color: rgb(56, 56, 61);
    font-size: 16px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 10px;
}
.text-price{
    border-radius: 20px;
    background-color: rgb(224 218 218);
    size: 18px;
     width: fit-content;
    padding: 10px 20px;
    margin: 10px 0
}